.main-container
  background-color lightgray
  color gray

body h4
  margin .7em 0

.md-toolbar-tools
  width auto !important

.form
  margin 0.3rem 1rem

md-tooltip .md-content span
  white-space normal

.helper:hover
  cursor help

.space-bottom
  margin-bottom 1rem

.no-margin
  margin 0
